*{
    margin: 0px;
    padding: 0px;
    font-family: "Sofia",cursive;
    
    box-sizing: border-box;
}
#container{
    width:100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
.logo{
    width:250px;
    height:200px;
    border-radius: 20px;
}
.list_items
{
    list-style: none;
    display: inline;
    margin:0px 60px ;
}
.item{
    color:black;
    font-weight: 600;
    font-size: larger;
    text-decoration: None;
}
.item:hover{
    color:red;
    text-decoration: underline;
}
.home-content{
    margin-top: 13%;
    margin-left: 8%;
}
#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Charmonman", cursive;
}
#lname{
    font-family: "Charmonman", cursive;
    color:orange;
}
#user_details{
    line-height: 1.12e;
}
#link{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
}
.home_image{
   width:45%;
   height:70%;
   position: absolute;
   bottom: 0px;
   right:30px;
}
.img1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
    /*hide the left 50% effect when hover not present */
}
.home_image:hover #shape{
    bottom: 80px;
}
.home_image:hover #girl{
    left:30%;
}
#about{
    margin:20% 20% 40px 20%;
}
.sectionhead{
    text-align: center;
}
#aboutheading{
    font-size: 30px;
}
#intro{
    color: green;
}
.aboutimg{
    height: 400px;
}
.aboutcontent
{
font-size: 20px;
text-align: justify;
}
.informations{
    margin-top: 1.3rem;
}
.aboutbody{
    margin-top: 20px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 50px;
}
.infobox{
    margin-bottom: 10px;
}.infobox>span{
    margin-left: 5px;
}
#skill{
    margin:8% 8% 0px 8%;
}
.skillcontent{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}

.mainHead, .barPercentage{
    font-weight: 500px;
    font-size: 1.3rem;
}


.baseBar{
    width:100%;
    height:0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;

}

.htmlBar{
    position: absolute;
    background-color: orange;
    width:95%;
}
.nodeBar{
    background-color: orange;
    width:85%;
}
.jsBar{
    background-color: orange;
    width:90%;
}
.reactBar{
    background-color: orange;
    width:90%;
}
#contact{
    margin:8% 8% 0px 8%;
}
.iconcollection{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
} 
.icon{
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;   
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
} 
.brands{
    color: black;
/* <<<<<<< HEAD */
    font-size: 1.8rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,red,green,rgb(21, 21, 94));
}

.icon:hover .brands{
    color:white;
    animation : rotate 3s;
}
@keyframes rotate{
    0%{
        tranform:rotate(30deg);
    }
    20%{
        transform:rotate(-30deg);
    }
    40%{
        transform:rotate(30deg);
    }
    60%{
        transform:rotate(-30deg);
    }
    80%{
        transform:rotate(30deg);
    }
    100%{
        transform:rotate(-30deg);
    }
}
footer{
    margin-top: 8%;
}
#copyright{
    text-align: center;
    font-weight: 200;
}
.uparrow{
    float:right;
    margin: -70px 70px 0px 0px;
  
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width:10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
background-color:azure;
border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 5px;
}